/*indexContainer*/
.container{
	width: 100%;
}
.container .joinView{
	width: 100%;
}
.container .joinView .joinView-con{
	width: 100%;
	height:calc( 100vh - 102px - 221px );
	display: flex;
	justify-content: center;
	align-items:center;
	padding:10px 0;
	box-sizing: border-box;

}

.container .joinView .joinView-con .join-form{
	flex-basis:500px;
	box-shadow: 1px 2px 5px #000000;
	padding:20px;
	box-sizing: border-box;
}
.container .joinView .joinView-con .join-form .form-con{

}
.container .joinView .joinView-con .join-form .form-con ul{
	display: flex;
	flex-direction: column;
	gap:10px;
}
.container .joinView .joinView-con .join-form .form-con ul li{
	display: flex;
	gap:10px;
	justify-content: space-between;
	padding:10px 0;
	
}
.container .joinView .joinView-con .join-form .form-con ul li:nth-child(1){
	box-shadow: 0 2px 2px #cccccc;	
}
.container .joinView .joinView-con .join-form .form-con ul li label{
	flex:1;
	background-color: #000000;
	color: #ffffff;
	line-height: 40px;
	text-align: center;
}
.container .joinView .joinView-con .join-form .form-con ul li input{
	flex:3;
	background-color: #b5d8c5;
	color: #000000;
	line-height: 40px;
	padding:0 20px;
	border: 0;
}

.container .joinView .joinView-con .join-form .form-con ul li:nth-child(4) input{
	background-color: #000000;
	color: #ffffff;	
	cursor: pointer;
	padding:0 !important;
}







