@import url("common/reset.css");

.padding_parent {
    width: 500px;
    height: 300px;
    border: 1px solid #ff0000;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    padding-top: 200px;

    /* justify-content: space-around;
    align-items: center; */
}

.padding_parent .padding_child {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    float: left;

}

.padding_parent .padding_child.one {
    background-color: aqua;
    /* padding-left: 100px;
    padding-top: 100px; */
}

.padding_parent .padding_child.two {
    background-color: yellowgreen;
}

.padding_parent .padding_child.three {
    background-color: coral;
}